{{>messagesErrors}}
<form action="/login" method="post">
    <div>
        <label>Email:</label>
        <input type="email" name="email" placeholder="Insira seu email">
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="password" placeholder="Insira sua senha">
    </div>
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>